__pycache__/
*.py[cod]
*.pyo
myenv/
venv/
.env/
.env.*
app/database.db
static/uploads/
app/catnet_core/uploads/
app/catnet_core/predictions/
*.pth.tar
app/catnet_core/jpegio/
.DS_Store
Thumbs.db
.idea/
.vscode/
