aiohttp
aiosignal
alembic
altair
anyio
attrs
audioread
banal
blinker
cachetools
certifi>=2024.7.4
cffi>=1.17.0
charset-normalizer
click
contourpy
cycler
dataset
datasets
decorator
dill
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
huggingface_hub
idna
intel-openmp
Jinja2
joblib
jsonschema
kiwisolver
lazy_loader
librosa
llvmlite
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
mkl
mkl-service
mpmath
msgpack
multidict
multiprocess
networkx
numba
numpy>=1.23.0,<2.0.0
packaging
pandas
pillow
platformdirs
pooch
propcache
protobuf
pyarrow
pycparser
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
regex
requests>=2.28.2,<2.32.0
rich
rpds-py
safetensors
scikit-learn
scipy
setuptools
shellingham
six
smmap
soundfile
soxr
SQLAlchemy>=1.4.0,<2.0.0
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0
tornado
tqdm
transformers
typing_extensions>=4.14.1
tzdata
urllib3
watchdog
xxhash
yacs
yarl
